<% provide :title , t("header.help_link") %>
<h1><%=t("header.help_link")%></h1>
<p>
  <%= t("help.mess1")%>
  <a href="https://www.railstutorial.org/help"><%=t('help.mess2')%></a>.
  <%= t('help.mess3')%>
  <a href="https://www.railstutorial.org/book"><em><%=t('help.mess2')%></em>
  </a>.
</p>
<%= link_to t("enl"), locale: "en" %>
<%= link_to t("vnl"), locale: "vi" %>

