<h1><%= t("email.subject") %></h1>

<p><%= t("email.greeting") %><%= @user.name %>, </p>

<p>
  <%= t("email.mess") %>:
</p>

<%= link_to t("email.activate_button"), edit_account_activation_url(@user.activation_token,
                                                                    email: @user.email) %>
