<li id="micropost-<%= micropost.id %>">
  <%= link_to micropost.user_gravatar_for(size: Settings.digit_50), micropost.user %>
  <span class="user"><%= link_to micropost.user_name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.image if micropost.image.attached? %>
  </span>
  <span class="timestamp">
    <%= t("micropost.posted_ago") %> <%= time_ago_in_words(micropost.created_at) %>  <%= t("micropost.ago") %>
    <% if current_user? micropost.user %>
      <%= link_to t("admin.delete"), micropost, data: { "turbo-method": :delete,
                                                turbo_confirm: t("admin.confirm_delete") } %>
      <% end %>
  </span>
</li>
