<footer class="footer">

  <nav>
    <ul>

      <li><%= link_to t("footer.about_link"), "#" %></li>
      <li><%= link_to t("footer.contact_link"), "#" %></li>
      <li><%= link_to t("footer.news_link"), "https://news.railstutorial.org/" %></li>
      <li><%= link_to t('footer.about_link'), '#' %></li>
      <li><%= link_to t('footer.contact_link'), '#' %></li>

    </ul>
  </nav>
</footer>
