<footer class="footer">
  <%= link_to t("enl"), locale: :en %>
  <%= link_to t("vnl"), locale: :vi %>
  <nav>
    <ul>
      <li><%= link_to t("footer.about_link"), "#" %></li>
      <li><%= link_to t("footer.contact_link"), "#" %></li>
      <li><%= link_to t("footer.news_link"), "https://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
