<footer class="footer">

  <nav>
    <ul>
<<<<<<< HEAD
   <li><%= link_to t("footer.about_link"), "#" %></li>
      <li><%= link_to t("footer.contact_link"), "#" %></li>
      <li><%= link_to t("footer.news_link"), "https://news.railstutorial.org/" %></li>
=======
      <li><%= link_to t('footer.about_link'), '#' %></li>
      <li><%= link_to t('footer.contact_link'), '#' %></li>
      <li><a href="https://news.railstutorial.org/"><%= t('footer.news_link') %></a></li>
>>>>>>> 9d35123 (Chapter 3_4_5 Add gem config Add i18n)
    </ul>
  </nav>
</footer>
